body {
  background: #e8e8f0;
  font-family: "Arial";
}

header {
  background: #514d6c;
  height: 62px;
}

h1 {
  color: #e8e8f0;
  padding: 24px 0px 0px 13px;
}

h2 {
  margin-top: 43px;
  font-size: 20px;
  text-align: center;
}

button.primary-action {
  display: block;
  margin: 44px auto 0 auto;
  width: 171px;
  height: 61px;
  border: 0px;
  background: #8ce0ec;
  font-size: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
}

#caracteristiques {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  font-size: 12px;
}

#caracteristiques > div.action-box-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  border: 1px solid #514d6c;
  border-radius: 5px;
}

#caracteristiques > div.action-box-wrapper > div {
  text-align: center
}

#caracteristiques > div.action-box-wrapper > div.carac-box > div,
#caracteristiques > div.action-box-wrapper > div.action-box > div {
  padding: 5px;
}

#caracteristiques > div.action-box-wrapper > div.carac-box > div.carac-box-value,
#caracteristiques > div.action-box-wrapper > div.action-box > div.action-box-value {
  font-size: 14px;
  font-weight: bold;
}

#caracteristiques > div.action-box-wrapper > div.carac-box {
  width: 50%;
}

#caracteristiques > div.action-box-wrapper > div.action-box {
  width: 100%;
}

#caracteristiques > div.action-box-wrapper > div.carac-box > div.carac-box-title,
#caracteristiques > div.action-box-wrapper > div.action-box > div.action-box-title {
  color: #fff;
  background: #514d6c;
}


